:root {
	--primary: #f98e04;

	--primary-text: #333333;
	--secondary-text: #8f8f8f;

	--gray-lighter: #f4f4f4;
	--gray-light: #e8e8e8;
	--gray: #a4a4a4;

	--white: #ffffff;

	--border-radius: 20px;
	--border-width: 2px;

	--border: var(--border-width) solid var(--gray-light);
}

* {
	margin: 0;
	padding: 0;
	font-weight: 600;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--gray-light);
	color: #333;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 48px;
}
