:root {
	--primary: #f98e04;

	--gray-text: #a4a4a4;

	--gray-bg: #e8e8e8;

	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
	background-color: var(--gray-bg);
	color: #333;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 48px;
}
