.category-products {
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.category-products--loading {
	align-items: center;
	justify-content: center;
	height: 100%;
}

.category-products__filters {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.products-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 232px;
	height: 258px;
	border: var(--border);
	border-radius: var(--border-radius);
	gap: 12px;
}

.product-image {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 128px;
	height: 128px;
}

.product-image img {
	border-radius: var(--border-radius);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product-name {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	width: 192px;
	height: 78px;
	font-size: 20px;
	line-height: 26px;
	color: #333;
}

.product-unavailable {
	color: var(--gray-light);
}

.unavailable-badge {
	background-color: var(--black);
	color: var(--white);
	letter-spacing: 0;
	padding: 4px 8px;
	border-radius: 8px;
	font-size: 20px;
	position: absolute;
}

/* Filters */

.filter-tag {
	padding: 11px 16px;
	min-width: 56px;
	border: var(--border);
	border-radius: 12px;
	font-size: 20px;
	background-color: var(--gray-lighter);
	color: var(--primary-text);
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.filter-tag.active {
	border-color: var(--primary);
	background-color: var(--white);
	color: var(--primary);
}

/* Hide scrollbars on mobile */
.filters::-webkit-scrollbar {
	display: none;
}

.filters {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
